body, html {
  margin:0;
  padding:0;
  /* height: 100%; */
}
body {
  background-color:#ffefd5;
  margin: 30px auto;
  width: 901px;
}

logo {
  font-family: 'Sonsie One', cursive;
}
header, footer {
  /* background-color: #525252; */
  height:260;
  width:100%;
}

p .bodyParagraph {
 margin: auto;
}

nav ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

nav ul li {
  display:inline-block;
  list-style-type: none;
  float: right;
}

main {
  margin: 30px auto;
  width: 901px;
}

.card header {
  background:gray;
  height: 2em;
  width: auto;
}

#ingredients {
  
  background-image: url("lab-assets/list-bg.png");
  margin: auto;
  width: 899px;
  /* height: 305px; */
  font-family: cursive;
}

.firstcolumn {

  float: left;
  padding-left: 5%;
}

.secondcolumn {

  float: right;
  padding-right: 5%;

}

.strikethrough:checked + label{
  text-decoration:line-through
}